# Compiled object files
*.o
*.obj
*.lo
*.slo

# Compiled executable files
*.exe
*.out
*.app

# Compiled dynamic/static libraries
*.dll
*.so
*.dylib
*.lib
*.a

# Precompiled headers
*.gch
*.pch

# Other compiled files
*.ilk
*.map
*.exp

# Build directories
/build/

# IDE configuration files
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb
.vscode/
.idea/
